    BODY {background:#FFFFFF url(images/bgtile.gif) no-repeat; color:#696B6A; font-size:9pt; font-family:Georgia,New York,Times New Roman,times,serif; margin:0px;}
    TD,DIV {color:#696B6A; font-size:9pt; font-family:Georgia,New York,Times New Roman,times,serif;}

    A {color:#D4834E; text-decoration:none;}

    .column1Text {color:#4B5D81; font-size:8pt;}
    .column2Text {color:#696B6A; font-size:9.5pt; line-height:14pt;}
    .column3Text {color:#798498; font-size:8pt;}

    .nav1 {position:absolute; visibility:visible; top:45px; left:340px;}
    .nav2 {position:absolute; visibility:visible; top:45px; left:435px;}
    .nav3 {position:absolute; visibility:visible; top:45px; left:530px;}
    .nav4 {position:absolute; visibility:visible; top:45px; left:625px;}
