    BODY {background:#D9E6A8; color:#696B6A; font-size:8pt; font-family:arial,sans-serif; margin:-10px;}

    .searchTitle {color:#333333; font-weight:bold; font-size:9pt;}
    INPUT {color:#CC0066; font-size:8pt;}
    SELECT {color:#0066CC; font-size:8pt;}
    
    .reportLabels {color:#FFFFFF; font-size:9pt; font-weight:bold;}
    
